{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react"],
  "rules": {
    "react/no-unsafe": [2, {"checkAliases": true}],
    "react/no-deprecated": 2,
    "prettier/prettier": ["error"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  }
}
